.button {
  background-color: #004a87;
  color: white;
  font-weight: 400;
  font-size: medium;
  transition: 0.5s;
}

.button:hover {
  background-color: rgb(155, 153, 153);
  color: #004a87;
}

.wrapper {
  background-color: white;
  border-radius: 10px;
}
